<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    

    <title>Aurora Coffee</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

</head>
<body class="{{ 'dark' if mode == 'dark' else '' }}" onload="modalLoad()">

    {% for message in get_flashed_messages() %}
    <!-- Modal -->
    <div class="modal fade" id="actionStatus" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    {{ message }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-purple" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <img src="http://{{ request.host }}/static/media/banner.png" class="img-fluid w-100" alt="">

    <nav class="navbar navbar-expand-lg {% if mode == 'dark' %}navbar-dark{% else %}navbar-light bg-light{% endif %} navbar-expand">
        <a class="navbar-brand" href="#">
            <img src="http://{{ request.host }}/static/media/coffee.ico" width="20" height="20" alt="">
        </a>
    
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link" href="/">Productos</a>
                </li>
                <li class="nav-item {% if request.path == '/ingredients' %}active{% endif %}">
                    <a class="nav-link" href="/ingredients">Ingredientes</a>
                </li>
                <li class="nav-item {% if request.path == '/menu' %}active{% endif %}">
                    <a class="nav-link" href="/menu">Menu</a>
                </li>
                <li class="nav-item {% if request.path == '/expenses' %}active{% endif %}">
                    <a class="nav-link" href="/expenses">Expensas</a>
                </li>
                <li class="nav-item {% if request.path == '/summary' %}active{% endif %}">
                    <a class="nav-link" href="/summary">Resumen</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="/settings">
                        <i class="fas fa-cog"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg {% if mode == 'dark' %}navbar-dark{% else %}navbar-light{% endif %} navbar-expand">
        <!-- Back Button -->
            <div class="img-fluid w-100">
                <i class="fas fa-chevron-left back-button" onclick="window.history.back()"></i>
            </div>
        </div>
    </nav>
    

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

     <!-- Footer -->
    <footer class="footer {% if mode == 'dark' %}dark-input{% else %}bg-light{% endif %} py-3 mt-5">
        <div class="container text-center">
            <span class="text-muted">Redes Sociales:</span>
            <br>
            <a href="https://www.facebook.com/Aura.panaderia/" target="_blank" class="social-icon"><i class="fab fa-facebook"></i> Aurora Cafe</a>
            <br>
            <a href="https://www.instagram.com/aurora.coffee.shop/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i> aurora.coffee.shop</a>
        </div>
        <div class="container text-center">
        <span>Aurora Software</span>
        </div>
    </footer>

  </body>
</html>



