{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-11">
            <h1>Confirmar Eliminación</h1>
            <p>¿Estás seguro de que deseas eliminar el producto "{{ product_name }}"?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="{{ url_for('delete_product', product_name=product_name) }}" method="post">
                <button type="submit" class="btn btn-danger">Eliminar Producto</button>
                <a href="{{ url_for('product', product_name=product_name) }}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
