{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-11">
                <h1>Aurora Coffee</h1>
            </div>
        </div>

        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-2" style="border: hidden;">
                    <img class="card-img-top" src="/static/media/products/{{ product['Producto'] }}.jpg" style="border: 1px solid #e6e6dc;">
                    <div class="card-body">
                        <a href="product/{{ product['Producto'] }}" class="btn btn-outline-purple btn-block">{{ product['Producto'] }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Add new product button -->
            <div class="col-md-4">
                <div class="card mb-2" style="border: hidden;">
                    <div class="card-body d-flex justify-content-center align-items-center" style="height: 100%;">
                        <button type="button" class="btn btn-outline-success btn-lg btn-block" id="add-product-btn"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para agregar nuevo producto -->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{{ url_for('add_product') }}" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProductModalLabel">Crear Nuevo Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="product_name">Nombre:</label>
                            <input type="text" class="form-control" id="product_name" name="product_name" required>
                        </div>
                        <div class="form-group">
                            <label for="product_image">Imagen:</label>
                            <input type="file" class="form-control-file" id="product_image" name="product_image" accept="image/*" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('add-product-btn').addEventListener('click', function() {
            $('#addProductModal').modal('show');
        });
    </script>
{% endblock %}
