{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-11">
                <h1>Resumen</h1>
            </div>
        </div>
        
        <div class="row mt-5 justify-content-center">
            <div class="col-md-10 text-center">
                <img src="{{ url_for('static', filename='temp/ventas.png') }}" alt="Ventas por Mes" style="max-width: 100%; height: auto;">
            </div>
        </div>
        
        <div class="row mt-5 justify-content-center">
            <div class="col-md-10 text-center">
                <img src="{{ url_for('static', filename='temp/ventas_gastos.png') }}" alt="Gastos y Ganancias" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
{% endblock %}
