{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-11">
                <h1>Resumen</h1>
            </div>
        </div>

        <ul class="list-group">
            {% for product in products %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="card mb-2" style="border: hidden; width: 15rem;">
                        <div class="card-body">
                            <h4 class="card-title">{{ product['Producto'] }}</h4>
                        </div>
                        <img class="card-img-top img-fluid" src="/static/media/products/{{ product['Producto'] }}.jpg" alt="{{ product['Producto'] }}" style="border: 1px solid #e6e6dc; height: 100px; object-fit: cover;">
                    </div>
                    <div class="form-group mb-2">
                        <h5>Precio crudo:</h5>
                        <h6>{{ product['Precio crudo'] }}$</h6>                        
                    </div>
                    <div class="form-group mb-2">
                        <h5>Precio final:</h5>
                        <h6>{{ product['Precio final'] }}$</h6>                        
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
